[Desktop Entry]
Comment=A Trekki Design from Tomcat
Name=LCARS Dark
X-KDE-PluginInfo-Author=Tomcat
X-KDE-PluginInfo-Category=Plasma Look And Feel
X-KDE-PluginInfo-Email=xnova_ugamela_welt@yahoo.de
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=LGPL 2.1+
X-KDE-PluginInfo-Name=LCARS
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://hh-netzwerk.de
X-KDE-ServiceTypes=Plasma/LookAndFeel
